body {
  background: #2f558e url(../img/bg.png) repeat 0 0;
  background-size: 400px auto;
  font-family: sans-serif;
}
img {
  display: block;
  width: 150px;
  margin: 100px auto;
}
button {
  background: #dae1e4;
  border: none;
  border-radius: 5px;
  color: #1d3c6a;
  font-size: 24px;
  width: 480px;
  padding: 40px 0;
  margin: 0px -20px;
  outline: none;
  cursor: pointer;
}
.spoiler {
	background: #1d3c6a;
  width: 440px;
  margin: 0 auto 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px
}
.spoiler span {
  color: #dae1e4;
  display: block;
  padding: 40px 20px;
}
.spoiler-react-container {
  display: flex;
  flex-direction: column;
}
.spoiler-react {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 17px;
  background-color: #dae1e4;
  border-radius: 5px;
  color: #1d3c6a;
  cursor: pointer;
  width: 480px;
  height: 100px;
  text-align: center;
}
.spoiler-react p {
  color: #1d3c6a;
  margin-top: 0px;
  padding-top: 39px;
  padding-bottom: 33px;
  font-size: 24px;
}
.spoiler-input {
  width: 440px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
